*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px;
}

nav a 
{
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    color: lightgray;
}

section
{
    padding: 40px 20px;
}
