*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px;
}

nav a 
{
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    color: lightgray;
}

section
{
    padding: 40px 20px;
}

.name-div
{
    color: red;
}

ul
{
    list-style-type: disc;
    margin-left: 20px;
}

#candidate-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
}

.photo
{
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profile-cards
{
    background-color: aquamarine;
    width: 100%;
    margin: 10px;
    
}

.name-div
{
    font-size: 30px;
}