*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body
{
    background-color:bisque;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    padding:12px;
}

nav a 
{
    margin: 0 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

section
{
    padding: 40px 20px;
}

.box
{
    background-color: white;
    padding: 40px;
    margin:10px;;
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: semi-bold;
    word-spacing: 2px;
}

button
{
    margin: 20px 20px 0 0;
    padding: 8px 12px;
    border-radius: 20px; 
    font-size: 18px;
    font-weight: semi-bold;
}

#primary-btn
{
    background-color: #213448;
    color: white;
    outline: none;
    border: none;
}

#secondary-btn
{
    background-color: cadetblue;
    color: white;
    border: 2px solid white;
}