*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color:bisque;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    padding:20px;
}

nav a 
{
    margin: 0 15px;
    font-size: 15px;
}

section
{
    padding: 40px 20px;
}