*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:bisque;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    padding:12px;
}

nav a 
{
    margin: 0 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

section
{
    padding: 40px 20px;
}

.box
{
    background-color: white;
    padding: 40px;
    margin:10px;;
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
}

button
{
    margin: 20px 20px 0 20px;
    
}