*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding:20px;
}

nav a 
{
    margin: 0 15px;
    font-size: 18px;
}