html, body
{
    font-family: arial;
    height: 100%;
    background-color: #213448;
    color: #213448;
    margin:0;
}



.divContainer
{
    border-radius:8px;
    padding:10px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-bottom: 2px solid #94B4C1;
}

.divFields
{
    margin-bottom:3px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    display:flex;
    flex-direction: column;
}

.div-labels
{
    margin-bottom: 10px;
}

.div-inputs
{
    width:auto;
    border: 3px solid #213448; 
    border-radius: 5px;
    padding:2px;
}

.div-inputs input,select
{
    height:inherit;
    width: 100%;
    border:none;
    outline: none;
}

.register-btn
{
    height:30px;
    border-radius: 5px;
    background-color: #213448;
    color: aliceblue;
    margin-top:15px;
    font-size: 18px; 
}

.register-btn:hover
{
    background-color:lightgrey;
    color: #213448;
    font-size: 18px;
    font-weight: 600;
}